h1{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th,td{
    border: 1px solid #2d1111;
    font-weight: lighter;
    text-align: center;
    padding: 8px;
}

button{
    margin: 5px;
}

th{
    border:1px solid #2d1111;
    background-color: #ddd;
}